body {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}
header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-color: rgb(43, 0, 92);
    display: flex;
    align-items: center;
}
aside{
    position: fixed;
    width: 200px;
    min-height: 100vh;
    background-color: rgb(8, 25, 39);
}
header h3 {
    padding-inline-start: 40px;
    color: white;
}
.aside-menu {
    margin: 35px auto;
    width: 180px;
    background-color: rgb(19, 46, 68);
}
.aside-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.aside-menu ul li {
    padding: 10px;
}
.aside-menu ul li a {
    text-decoration: none;
    color: white;
}